:root {
    --color-primary: rgb(106, 73, 255);
    --color-white: #e7e7df;
}

* {
    margin: 0;
}

body{
    padding: 2rem;
    font-family: 'Urbanist', sans-serif;
    background-color: var(--color-white);
}

svg {
    width: 800px;
}

path {
    stroke: var(--color-primary);
    stroke-width: 3px;
    stroke-linecap: round;
    fill: none;
}
@media screen and (min-width: 450px){
    path {
        stroke: var(--color-primary);
        stroke-width: 4px;
        stroke-linecap: round;
        fill: none;
    }
}
@media screen and (min-width: 730px){
    path {
        stroke-width: 5px;
        stroke-linecap: round;
        fill: none;
    }
}

h1{
    color: var(--color-white);
    padding-left: 10px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -1px;

}

header {
    font-size: 2rem;
}

@media screen and (min-width: 450px){
    h1{

        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 1px;

    }
}

@media screen and (min-width: 730px){
    h1{
        font-size: 3.5rem;
        letter-spacing: 1px;

    }
}

.header {
    margin: 5px 0 5px 5px;
    background-color: var(--color-primary);
    position: absolute;
    align-self: center;
    padding: 0;
}

.header--right {

    right: 0;
}

.header--left {

    left: 0;
}

.slink__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 120px;
    background-color: rgba(89, 89, 89, 0);
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
}